<h2>{{blog.title}}</h2>
<p>{{blog.content}}</p>

<h3>Comments:</h3>
{{>comments blog.comments}}

<h3>Got something to say?</h3>
<form class="create-comment">
    <div>
        <textarea class="form-textarea" name="comment-content" id="comment-content"></textarea>
    </div>
    <button class="btn" type="submit">Create Comment</button>
</form>

<script src="/js/comment.js"></script>