<h1>Create Blog</h1>


<form class="create-form">
    <div>
        <input class="form-input" type="text" name="blog-title" id="blog-title"/>
        
    </div>
    <div>
        <textarea class="form-textarea" name="blog-content" id="blog-content"></textarea>
    </div>


    <button class="btn" type="submit">Create Blog</button>
    
</form>

<script src="/js/create.js"></script>