<h1>The Tech Blog</h1>

{{#each blogs as |blog|}}
<section class="card">
    <a href="/blog/{{blog.id}}">
        <h2>{{blog.title}}</h2>
        <p>{{blog.content}}</p>
        <p>Created by {{blog.user.username}}</p>
    </a> 
</section>
{{/each}}
