* {
    font-family: 'Rampart One', cursive;
}

body {
   background-color: rgb(171, 199, 192); 
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

h1 {
    padding: 10px;
    /* background-color: rgb(118, 209, 202); */
    border-bottom: 5px groove black;
}

h3 {
    border-bottom: 2px groove black;
    padding: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
}

div {
    margin: 10px;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.card {
    background-color: #c7b0ab;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.btn {
    font-family: 'Rampart One', cursive;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.card {
    margin: 10px;
}

#blog-title {
    font-family: 'Rampart One', cursive;
}

a:hover {
    box-shadow: black 10px 10px;
    color: black;
}